:root {
    --color_a: rgb(1, 5, 17);
    --back_a: rgba(92, 103, 168, 0.541);
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

main {
    padding: 20px;
    padding-bottom: 70px; /* Для footer */
}

header {
    width: 100%;
    background-color: #5c67a8;
}

.menu-item, .submenu-item {
    display: inline-block;
    padding: 12px 20px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.menu-item:hover, .submenu-item:hover {
    background-color: #4a5599 !important;
}

.submenu {
    font-size: 14px;
    padding: 8px !important;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}

.page-link:hover {
    border: 2px solid #5c67a8 !important;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 103, 168);
    position: fixed;
    bottom: 0;
    left: 0;
}